@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-color: #eae0d5;
    --base-color: #c6ac8f;
    --dark-color: #22333b;
    --border-color: #0a0908;
    --other-color: #5e503f;
}

body {
    margin: 20px;
    font: 14px "Century Gothic", Futura, sans-serif;
}

.strategy-list {
    width: 25ch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 75%;
}

.strategy-item {
    width: 100%;
    margin-bottom: 0.25ex;
    display: flex;
    flex-direction: left;
}

.strategy-number {
    width: 2.5ch;
    padding: 1px;
    margin-right: 0.5ch;
    text-align: right;
}

.strategy-name {
    width: 18ch;
    padding: 1px;
    color: var(--light-color);
    background-color: var(--other-color);
}

.strategy-status {
    width: 3ch;
    padding: 1px;
    margin-left: 0.25ex;
    text-align: center;
    color: var(--light-color);
    background-color: var(--other-color);
}
